@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto&display=swap");

:root{
    --color-1:#e3e8e4;
    --color-2:#363636;
    --color-3:#239b7e;
    --color-4: #dead5f;
    --color-5:#312e2e;
    --main-color: #37132d;
    --font-1: "Playfair Display", serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: #fead53;
    --text-dark: #333333;
    --text-light:#fffff333;
    --extra-light: #f3f4f6;
    --max-width: 1300px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    font-family:Roboto condensed;
    min-height: 100vh;
}

.Nav{
    max-height: 20vh;
    background-color:var(--color-3);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-4);
  
}

.nav_links{
    list-style: none;
    display: flex;
    gap: 3rem ;
}

.nav_links .links{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-2);
    cursor: pointer;
    transition: 0.5s;
}

.nav_links .links:hover {
    color: var(--primary-color);
}